.app__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: center;
    font-family: var(--font-base);
}

.app__header h1 {
    font-size: 75px;
    font-weight: 900;
}

.app__header p {
    margin-top: 20px;
    font-size: 24px;
}

.app__header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}